# Configuração da Base de Dados - NAS MariaDB
DATABASE_URL="mysql://hc_admin:MAWmqrcdr1.1@192.168.1.116:3306/homeconfigurator"

# Configurações NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="chave-secreta-desenvolvimento-123-muito-longa-para-ser-segura"

# Configurações de Upload
MAX_FILE_SIZE=10485760
UPLOAD_DIR=public/uploads

# Ambiente de desenvolvimento
NODE_ENV=development
DEBUG=true
